.App{
    text-align: centre;
}
.question-card{
    background-color: rgb(203, 210, 73);
    /* background-image: url('./rec15.jpg'); */
    padding: 20px;
    width: 70%;
    margin: 0 auto;
    border-radius: 16px;
    color: rgb(232, 226, 226);
    box-shadow: rgb(234, 204, 168);
    height: 700px;
    
}
ul{
    list-style: none;
}
li{
    background-color: rgb(9, 9, 9);
    padding: 16px;
    border: 3px solid rgb(250, 248, 248);
    border-radius: 10px;
    font-size: 25px;
    margin-top: 40px;
    height: 40px;
}
.question-text{
    color: rgb(14, 14, 14);
    font-size:30px ;
}
.final-results{
    background-color: rgb(146, 126, 126); 
    /* background-image: url('about.jpg'); */
    padding: 16px;
    width: 50%;
    margin: 0 auto;
    border-radius: 16px;
    color: rgb(223, 168, 168);
    box-shadow: bisque;
    /* color: aliceblue; */
}
button{
    background-color: red;
    border: none;
    color: white;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
}
.App h1{
    font-size: 40px;
    margin-left: 45rem;

}
.App h2{
    font-size: 2rem;
    margin-left: 43rem;
}
.question-card h2{
    margin-left: 2px;
    color: rgb(8, 9, 9);
}
